<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header gradiente" >
                <h4 class="modal-title">Agregue la Respuesta</h4>
            </div>
            <div class="modal-body">
                <form  name="f"  class="form-horizontal" style="padding: 10px;">

                    <div class="form-group">
                        <label>Respuesta:</label>
                        <textarea ng-model="g.RES_DESCRIPCION" class="form-control" style="height: 150px;" required>

                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Estado Respuesta</label>
                        <input type="checkbox" class="form-control" ng-model="g.ESCORRECTA" ng-init="g.ESCORRECTA=true">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-disabled="f.$invalid" ng-click="guardarRespuesta(g)">Guardar</button>
            </div>
        </div>
    </div>
</div>