<div class="panel panel-info bounceIn animated">
    <div class="panel-heading">
        <h4 id="a">Edite Sus Preguntas</h4>
    </div>
    <div class="panel-body" style="overflow: scroll;overflow: auto;">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre Prueba</th>
                <th>Asignatura</th>
                <th>Bien</th>
                <th>Mal</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody ng-repeat="i in preguntas">
            <tr>
                <!-- MODO EDICION -->
                <th scope="row" ng-show="edit[$index]===$index">
                    <button class="btn btn-primary" type="button" ng-click="edit2[$index]=((edit2[$index]===$index)?-1:$index)" >
                        <span class="badge">{{i.ID}}</span>
                    </button>
                </th>
                <td ng-show="edit[$index]===$index">
                    <input type="text" class="form-control" ng-model="i.PRE_DESCRIPCION" required>
                </td>
                <td ng-show="edit[$index]===$index">
                    <select select ng-model="i.PRE_PRUEBA" class="form-control"   ng-options="obj.ID as obj.PRU_DESCRIPCION for obj in pruebas" required>
                        <option value="">Selección Asignatura</option>
                    </select>
                </td>
                <td ng-show="edit[$index]===$index">{{i.PRE_BIEN}}</td>
                <td ng-show="edit[$index]===$index">{{i.PRE_BIEN}}</td>
                <td ng-show="edit[$index]===$index">
                    <input type="checkbox" class="checkbox-inline" ng-model="i.PRE_ESTADO" ng-checked="i.PRE_ESTADO===1?true:false">
                </td>




                <!-- VISUALIZACION NORMAL -->
                <th scope="row" ng-show="edit[$index]!=$index">
                    <button class="btn btn-primary" type="button" ng-click="edit2[$index]=((edit2[$index]===$index)?-1:$index);selectRespuesta(i.ID,$index)">
                        <span class="badge">{{i.ID}}</span>
                    </button>
                </th>
                <td ng-show="edit[$index]!=$index">{{i.PRE_DESCRIPCION}}</td>
                <td ng-show="edit[$index]!=$index">{{pruebas[i.PRE_PRUEBA-1].PRU_DESCRIPCION}}</td>
                <td ng-show="edit[$index]!=$index">{{i.PRE_BIEN}}</td>
                <td ng-show="edit[$index]!=$index">{{i.PRE_BIEN}}</td>
                <td ng-show="edit[$index]!=$index">{{i.PRE_ESTADO===1?'Activado':'Desactivado'}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-xs" ng-click="edit[$index]=$index" ng-show="edit[$index]!=$index">Editar</button>
                    <button type="button" class="btn btn-success btn-xs" ng-show="edit[$index]===$index" ng-click="actualizarPregunta(i,$index)">Guardar</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="edit[$index]=-1" ng-show="edit[$index]===$index">Cancelar</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="agregarPreguntas(i.ID)" ng-show="edit[$index]===$index">Agregar Respuestas</button>
                </td>
            </tr>
            <tr>
                <td ng-show="edit2[$index]===$index" style="background: #cbcbcb;opacity: 0.6;filter: alpha(opacity=60);padding: 14px;" colspan="7">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Correcta</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="j in Respuesta[$index]">
                        <tr>
                            <td>{{j.ID}}</td>
                            <td>{{j.RES_DESCRIPCION}}</td>
                            <td>{{j.ESCORRECTA===1?'Correcta':'Incorrecta'}}</td>
                        </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<div ng-include="'template/modalAddQuestion.html'"></div>
