<div class="panel panel-info bounceIn animated">
    <div class="panel-heading">
        <h4 id="a">Edite su prueba</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
                <th>Bien</th>
                <th>Mal</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    Agregar Respuesta<br/>
                    Editar Pregunta<br/>
                    Inactivar<br/>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    Agregar Respuesta<br/>
                    Editar Pregunta<br/>
                    Inactivar<br/>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    Agregar Respuesta<br/>
                    Editar Pregunta<br/>
                    Inactivar<br/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

